body {
	background-color: #282c34;
}

.App {
	width: 50%;
	margin: 0 auto;
	border: 2px solid red;
	padding: 5px;
}

.appContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid red;
	padding: 5px;
}

.header {
	color: rgb(249, 255, 192);
	border: 2px solid red;
	padding: 5px;
	margin: 30px;
}
.form{

}

.input{
	font-size: 17px;
	color: rgb(249, 255, 192);
	background-color: #282c34;
	width: 95%;
	border: none;
	outline: none;
	border-bottom: 2px solid rgb(249, 255, 192);
	padding: 5px;
}